/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
.ord-menu-panel{
  display: block;
  min-height: 120px;
  background: #fff;
  border-radius: 3px;
  padding: 6px 10px;
}
.ord-menu-backdrop{

}
